# Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.csproj.user
.vs/
*.pdb
*.exe
*.dll
*.aps
*.bak
*.config
*.log
*.tlog
*.idb
*.ilk
*.exp
*.lib
*.manifest
*.res
*.resources
*.snk
*.bsc
*.sbr
*.obj
*.ncb
*.opensdf
*.sdf
*.sln.docstates
*.csproj.FileListAbsolute.txt
*.csprojResolveAssemblyReference.cache
*.csproj.CoreCompileInputs.cache
*.csproj.AssemblyReference.cache
*.csproj.CopyComplete
*.csproj.MSBuildDiagnostics.txt
*.csproj.MSBuildLog.txt
*.csproj.Publish.xml
*.csproj.SR.cs

# NuGet
packages/
*.nupkg

# LocalDB
*.mdf
*.ldf